div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color:brown;
    width: 400px;
    height: 300px;
    overflow: auto;
}
 
img {
    width: 100px;
    height: 80px;
}